body {
    padding: 0px;
}

a, h1, h1, h3, h4, h5, h6 {
    font-family: 'Inter', 'sans-serif';
}

.homeContent {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.navbar-header {
    float: left;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.navBarContainer {
    height: 100vh;
    width: 13%;
    position: fixed;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 1px 0px 20px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 1px 0px 20px 5px rgba(50, 50, 50, 0.63);
    box-shadow: 1px 0px 20px 5px rgba(50, 50, 50, 0.15);
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

.menulink {
    padding-left: 20px;
    margin-top: 12px;
}

.menuContainer {
    margin-top: 20%;
}

.menuLogoLink {
    display: flex;
    justify-content: center;
    margin-top: 36px;
}

.img-logo {
    height: 75px;
    width: 120px;
}

.link {
    margin-top: 20px;
    font-weight: 600;
    text-decoration: none;
}

    .link:hover {
        text-decoration: none;
    }


.contentContainer {
    width: 100%;
    margin-left: 13%;
}

.img-banner-container {
    width: 100%;
}

.img-banner {
    width: 100%;
}

.btnEntrar {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
    background-color: #2c88d9;
    border-radius: 15px;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: .2s;
    margin-bottom: 6px;
}

    .btnEntrar:hover {
        text-decoration: none;
        color: white;
        background-color: #1A5182;
    }

.link2 {
    margin-left: 25px;
}

.aboutProject {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .aboutProject .about-project-title {
        font-size: 26px;
        line-height: 2px;
        margin-bottom: 50px;
    }

.peoples-title {
    font-size: 26px;
    text-align: center;
}

.aboutContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.img-not-found {
    width: 40%;
    margin: 20px 50px;
}

.text-not-found {
    width: 40%;
    margin: auto auto;
}

.item {
    width: 20%;
}

.img-perfil {
    width: 75px;
    height: 75px;
    margin: 10px auto 15px;
}


#exampleSlider {
    position: relative;
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    #exampleSlider {
        border-color: transparent;
    }
}

#exampleSlider .MS-content {
    margin: 15px 5%;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 767px) {
    #exampleSlider .MS-content {
        margin: 0;
    }
}

#exampleSlider .MS-content .item {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    border-right: none;
    width: 20%;
}

@media (max-width: 1200px) {
    #exampleSlider .MS-content .item {
        width: 25%;
    }
}

@media (max-width: 992px) {
    #exampleSlider .MS-content .item {
        width: 33.3333%;
    }
}

@media (max-width: 767px) {
    #exampleSlider .MS-content .item {
        width: 50%;
    }
}

#exampleSlider .MS-content .item p {
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

#exampleSlider .MS-controls button {
    position: absolute;
    border: none;
    background: transparent;
    font-size: 30px;
    outline: 0;
    top: 80px;
}

@media (max-width: 767px) {
    #exampleSlider .MS-controls button {
        display: none;
    }
}

#exampleSlider .MS-controls button:hover {
    cursor: pointer;
}

#exampleSlider .MS-controls .MS-left {
    left: 20px;
}

@media (max-width: 992px) {
    #exampleSlider .MS-controls .MS-left {
        left: -2px;
    }
}

#exampleSlider .MS-controls .MS-right {
    right: 20px;
}

@media (max-width: 992px) {
    #exampleSlider .MS-controls .MS-right {
        right: -2px;
    }
}
