.title {
    text-align: center;
    margin: 50px 0;
}

.peoples-desaparecidas {
    display: grid;
    margin: 0 auto;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 15%;
}

.card-desaparecido {
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid #C3CFD9;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.list-name {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 0px;
}

.list-age {
    font-weight: bold;
    font-size: 18px;
}

.list-subtitle {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
}

.list-button {
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #2c88d9;
    padding: 8px 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

    .list-button:hover {
        filter: brightness(90%);
        color: white;
        text-decoration: none;
    }

@media only screen and (max-width: 900px) {
    .peoples-desaparecidas {
        display: grid;
        margin: 0 auto;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .peoples-desaparecidas {
        display: grid;
        margin: 0 auto;
        grid-gap: 1rem;
        grid-template-columns: 1fr;
    }
}
