
@{
    ViewBag.Title = "ListDesaparecido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Listagem.css" rel="stylesheet" />

<div class="img-banner-container">
    <img src="~/Images/BANNER SITE.jpg" alt="banner" class="img-banner" />
</div>

<h1 class="title"> Pessoas Desaparecidas </h1>


<div class="peoples-desaparecidas">
    <div class="card-desaparecido">
        <img src="~/Images/perfil.jpg" alt="temp" class="img-perfil" />
        <p class="list-name">Nome Sobrenome</p>
        <p class="list-age">00 anos</p>

        <p class="list-subtitle">Desaparecido desde:</p>
        <p class="list-date">25/06/2012</p>

        <p class="list-subtitle">Cidade:</p>
        <p class="list-city">Guaratinguetá/SP</p>

        <a href="#" class="list-button">Mais Informações</a>
    </div>
    <div class="card-desaparecido">
        <img src="~/Images/perfil.jpg" alt="temp" class="img-perfil" />
        <p class="list-name">Nome Sobrenome</p>
        <p class="list-age">00 anos</p>

        <p class="list-subtitle">Desaparecido desde:</p>
        <p class="list-date">25/06/2012</p>

        <p class="list-subtitle">Cidade:</p>
        <p class="list-city">Guaratinguetá/SP</p>

        <a href="#" class="list-button">Mais Informações</a>
    </div>
    <div class="card-desaparecido">
        <img src="~/Images/perfil.jpg" alt="temp" class="img-perfil" />
        <p class="list-name">Nome Sobrenome</p>
        <p class="list-age">00 anos</p>

        <p class="list-subtitle">Desaparecido desde:</p>
        <p class="list-date">25/06/2012</p>

        <p class="list-subtitle">Cidade:</p>
        <p class="list-city">Guaratinguetá/SP</p>

        <a href="#" class="list-button">Mais Informações</a>
    </div>
    <div class="card-desaparecido">
        <img src="~/Images/perfil.jpg" alt="temp" class="img-perfil" />
        <p class="list-name">Nome Sobrenome</p>
        <p class="list-age">00 anos</p>

        <p class="list-subtitle">Desaparecido desde:</p>
        <p class="list-date">25/06/2012</p>

        <p class="list-subtitle">Cidade:</p>
        <p class="list-city">Guaratinguetá/SP</p>

        <a href="#" class="list-button">Mais Informações</a>
    </div>
    <div class="card-desaparecido">
        <img src="~/Images/perfil.jpg" alt="temp" class="img-perfil" />
        <p class="list-name">Nome Sobrenome</p>
        <p class="list-age">00 anos</p>

        <p class="list-subtitle">Desaparecido desde:</p>
        <p class="list-date">25/06/2012</p>

        <p class="list-subtitle">Cidade:</p>
        <p class="list-city">Guaratinguetá/SP</p>

        <a href="#" class="list-button">Mais Informações</a>
    </div>
    <div class="card-desaparecido">
        <img src="~/Images/perfil.jpg" alt="temp" class="img-perfil" />
        <p class="list-name">Nome Sobrenome</p>
        <p class="list-age">00 anos</p>

        <p class="list-subtitle">Desaparecido desde:</p>
        <p class="list-date">25/06/2012</p>

        <p class="list-subtitle">Cidade:</p>
        <p class="list-city">Guaratinguetá/SP</p>

        <a href="#" class="list-button">Mais Informações</a>
    </div>
</div>

