
@{
    ViewBag.Title = "ListOneDesaparecido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Listagem.css" rel="stylesheet" />

<div class="img-banner-container">
    <img src="~/Images/BANNER SITE.jpg" alt="banner" class="img-banner" />
</div>


<div class="card">
    <div class="card-header">
        <img  src="~/Images/perfil.jpg" alt="temp" />
        <div>
            <p class="card-name">Nome Sobrenome</p>
            <p class="card-age">00 anos</p>
        </div>
    </div>
    <div class="card-body">
        <div class="bodycontent">
            <p class="body-title">Desaparecido desde</p>
            <p>25/06/2012</p>

            <p class="body-title">Contato</p>
            <p>(12) 9 9999-9999</p>

            <p class="body-title">Sexo</p>
            <p>Masculino</p>
        </div>
        <div class="bodycontent">
            <p class="body-title">Deficiência mental</p>
            <p>Não Possui</p>

            <p class="body-title">Deficiência Física</p>
            <p>(12) 9 9999-9999</p>

            <p class="body-title">Medicamentos alergenicos</p>
            <p>Ibuprofeno</p>

            <p class="body-title">Comidas alergenicas</p>
            <p>Amendoin Lactose</p>
        </div>
    </div>
    <div class="card-footer">
        <div>
            <a href="#" class="card-back">Voltar</a>
            <a href="#" class="card-achei">Eu vi esta Pessoa</a>
        </div>

        <a href="#" class="card-denuncia">Denunciar este perfil</a>
    </div>
</div>
