@model IEnumerable<Dory2.Models.Tutorias>

@{
    ViewBag.Title = "Home Page";
}

<div class="img-banner-container">
    <img src="~/Images/BANNER SITE.jpg" alt="banner" class="img-banner" />
</div>

<div id="exampleSlider">
    <h2 class="peoples-title">Pessoas Desaparecidas</h2>
    <div class="MS-content">
        @foreach (var item in Model)
        {
            if (item.Ativo)
            {
                <div class="item">
                    <a href="~/Desaparecido/ListOneDesaparecido/@item.Id" style="text-decoration: none; color: black">
                        <div class="img-perfil">
                            <img src="~/Images/perfil.jpg" alt="temp" class="img-perfil" />
                        </div>
                        <div>
                            <p class="textname">@Html.DisplayFor(model => item.Pessoa.Nome)</p>
                            <p class="textage">
                                @{
                                    DateTime dataInicial = item.Pessoa.DataNascimento;
                                    DateTime dataFinal = DateTime.Now;
                                    int ano = dataFinal.Year;
                                    int anoInicial = dataInicial.Year;
                                    int idade = ano - anoInicial;
                                    string show = idade + " Anos";

                                    @Html.DisplayFor(model => show)

                                }
                            </p>
                        </div>
                    </a>
                </div>
            }

        }
    </div>
    <div class="MS-controls">
        <button class="MS-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
        <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>
</div>

<div class="aboutProject">
    <h2 id="about" class="about-project-title">Sobre o Projeto</h2>
    <div class="aboutContainer">
        <p class="text-not-found">
            O projeto Dory proporciona ao usuário um sistema web para cadastrar pessoas que desapareceram ou que possam vir a desaparecer,
            com o objetivo de mediar a relação entre as famílias e terceiros que possam encontrá-las.
            </br></br>
            O conceito principal da aplicação é fornecer uma busca prática com dados centralizados, e uma plataforma intuitiva para que o processo seja feito de maneira rápida,
            segura e eficiente. Além claro, de um serviço de informações didáticas para ocasiões inesperadas.
        </p>
        <img src="~/Images/banner 2.jpg" alt="notImage" class="img-not-found" />
    </div>
    <div class="aboutContainer">
        <img src="~/Images/banner 3.jpg" alt="notImage" class="img-not-found" />
        <p class="text-not-found">
            -Centralizar dados de desaparecidos no Brasil;</br>
            </br>
            -Trabalhar na prevenção de desaparecidos;</br>
            </br>
            -Disponibilizar informações úteis para buscas de desaparecidos;

        </p>
    </div>
</div>


<script src="~/Scripts/jquery-2.2.4.min.js"></script>
<script src="~/Scripts/multislider.js"></script>

<script>
    $('#exampleSlider').multislider();
</script>